
blockquote {
	border-left:2px solid var(--blockquote);
	color: var(--blockquotehg);
	display:block;
	line-height:20px;
	margin:0 1em 0 1em;
	padding:0 1em 0 1em;
	color: var(--textcol);
}

.map{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	max-width: 50em;
}