.NewsContainer{
    max-width: 30em;
}

.img{
    width: 90%;
    margin: 5%;
}

.information-icon-border{
    position: absolute;
    height: 24px;
    width: 24px;
    top: 20px;
    right: 20px;
    display: block;
    border-radius: 20px;
    border-width: 4px;
    border-color: var(--textcol);
    border-style: solid;
    transition: border 0.2s ease-in-out;
}

.info-toggle{
    position: absolute;
    height: 24px;
    width: 24px;
    top: 20px;
    right: 20px;
    display: block;
    z-index: 10;
    opacity: 0;
}

.i-container{
    height: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}
.i-dot{
    border-radius: 20px;
    width: 4px;
    height: 4px;
    background-color: var(--textcol);
    transition: background-color 0.4s ease-in-out;
}

.i-stroke{
    border-radius: 20px;
    margin-top: 3px;
    width: 4px;
    height: 12px;
    background-color: var(--textcol);
    transition: background-color 0.4s ease-in-out;
}

.x-stroke1{
    border-radius: 20px;
    width: 32px;
    height: 4px;
    background-color: #00000000;
    position: absolute;
    top: 10px;
    left: -4px;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    transition: background-color 0.4s ease-in-out;
}

.x-stroke2{
    border-radius: 20px;
    width: 32px;
    height: 4px;
    background-color: #00000000;
    position: absolute;
    bottom: 10px;
    left: -4px;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    transition: background-color 0.4s ease-in-out;
}

@media (max-width: 42em){
    .NewsContainer{
        display: none;
    }

    .content{
        margin-left: 0;
    }

    .news-main input[type="checkbox"]:checked  ~ .NewsContainer{
        display: block;
        min-width: 100%;
        background-color: var(--moreviewoverlaycol);
        position: absolute;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        z-index: 10;
    }

    .news-main input[type="checkbox"]:checked  ~ .NewsContainer .content-pane{
        display: block;
        max-width: 90%;
        width: 250px;
    }

    .news-main input[type="checkbox"]:checked  ~ .NewsContainer h1{
        background-color: var(--bgcol);
    }

    .news-main{
        min-width: 100%;
        display: flex;
        justify-content: center;
    }

    .news-main input[type="checkbox"]:checked  ~ .information-icon-border{
        border-color: #00000000;
    }

    .news-main input[type="checkbox"]:checked  ~ .information-icon-border .i-dot{
        background-color: #00000000;
    }

    .news-main input[type="checkbox"]:checked  ~ .information-icon-border .i-stroke{
        background-color: #00000000;
    }

    .news-main input[type="checkbox"]:checked  ~ .information-icon-border .x-stroke1{
        background-color: var(--textcol);
    }

    .news-main input[type="checkbox"]:checked  ~ .information-icon-border .x-stroke2{
        background-color: var(--textcol);
    }

}

@media (min-width: 42em){
    .information-icon-border{
        display: none;
    }

    .info-toggle{
        display: none;
    }
}